body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff6347; /* Merah Tomat */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

#musicToggle {
    background-color: #3cb371; /* Hijau Medium */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.recipe-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff0f5; /* Putih Rosy */
}

/* Tampilan Detail Resep */
.detail-view {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-view h2 {
    color: #ff6347;
    border-bottom: 2px solid #ff6347;
    padding-bottom: 10px;
}

.content-detail h3 {
    color: #3cb371;
    margin-top: 20px;
}

#backButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
